@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="font-size: 44px; color: #3c3cb9;">Bienvenue sur notre plateforme de création de CV</h1>
</div>


<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img style="width:100%" src="~/image/CV.jpg" alt="mon cv" class="d-block w-100">
        </div>
    </div>
</div>
